<div class="container">
    <h1>Person-1</h1>
    <div [formGroup]="ChatForm">

       <div>
        <label class="m-2">Message</label>
       </div>
        <input type="text" formControlName="input" placeholder="Type here" #message name="person1" >
        <br>
        <br>
        <div>
            <input type="checkbox" name="checkBox" formControlName="checkBox">
            <label>Important Message</label>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-primary " (click)="sendMessage()" >Send</button>
    </div>
   
</div>
