<div class="container">
    <h1>
        Important Messages
    </h1>
    <div class="form-group">
        <ul  *ngFor="let currentMessagess of currentMessage">
            <ng-container *ngIf="currentMessagess.sender&&currentMessagess.msg">
                <li >
                    {{currentMessagess.sender}}{{currentMessagess.msg}}
                </li>
            </ng-container>
            
        </ul>
    </div>
</div>
