<div>
    <h1 style="text-align: center;">
        Chat Application
    </h1>
</div>
<div class="container">
    <section class="row">
        <div class="float-left col">
            <app-person1></app-person1>
        </div>
        <div class="float-right col">
            <app-person2></app-person2>
        </div>
        <div class="float-right col">
            <app-person3></app-person3>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class="row">
        <div class="float-left col">
            <app-all-message></app-all-message>
        </div>
        <div class="float-right col">
            <app-important-message></app-important-message>
        </div>
    </section>
</div>



